* {
  box-sizing: border-box;
}

@font-face {
  font-family: iosevka;
  src: url(iosevka-fixed-regular.ttf);
}

@media (hover: hover) and (pointer: fine) {
  /* .hamburger:hover .hamburger-lines {
    animation: changeColor ease-in-out 400ms forwards;
  } */
  /* 
  .hamburger:hover > .hamburger-background {
    transform: translate(15px, -5px);
  } */
}

.stats,
.quote-display,
body > p,
.title {
  color: white;
}

.container,
body > p {
  animation: fadein 500ms;
}

nav,
.hamburger-background,
.ham-menu,
.quote-input {
  position: absolute;
}

.title,
.hamburger,
.ham-lines-container,
.stats,
.stats-inner,
.quote-display {
  display: inline-block;
}

body,
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* nav */
nav {
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
}

.title {
  margin-left: 2%;
}

.hamburger {
  margin-left: auto;
  margin-right: 1em;
  margin-bottom: 10px;
  background-color: transparent;
}

.ham-lines-container {
  margin: 0.5em;
  /* cursor: pointer; */
  transition: closeMenu ease-out 400ms;
  background-color: darkslategray;
}

.hamburger-lines {
  width: 20px;
  height: 8px;
  border-bottom: 2px solid white;
  background-color: transparent;
  /* animation: reversechangeColor ease-out 400ms forwards; */
}

.ham-lines-container:hover {
  animation: fadeout ease-out 100ms forwards;
}
/* 
.hamburger-background {
  width: 5em;
  height: 5em;
  top: 0;
  right: 0;
  border-end-start-radius: 60px;
  background-color: white;
  z-index: -1;
  transform: translate(70px, -70px);
  transition: all 500ms;
} */

.ham-menu {
  top: 0;
  opacity: 0;
}
/* 
.ham-menu:checked + .ham-lines-container {
  animation: openMenu ease-in-out 400ms forwards;
} */
/* 
.ham-menu:checked + .ham-lines-container:first-of-type(1) {
} */

@keyframes openMenu {
  100% {
    transform: rotate(45deg) translate(0);
  }
}

@keyframes closeMenu {
  100% {
    transform: rotate(-45deg);
  }
}

@keyframes reversechangeColor {
  from {
    border-color: black;
  }
  to {
    border-color: white;
  }
}

@keyframes changeColor {
  from {
    border-color: white;
  }
  to {
    border-color: black;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translate(0, 10px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
    transform: translate(0, 0);
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeinright {
  from {
    opacity: 0;
    transform: translate(-10px, 0);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/* body */

body {
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
  background-color: darkslategray;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.container {
  background-color: #243b35;
  border-radius: 0.5rem;
  width: min(700px, 90%);
}

.timer {
  font-size: clamp(5rem, 1vw, 10rem);
  color: lightgreen;
  text-shadow: 0px 0px 40px black;
  font-weight: bold;
}

.stats {
  width: 90%;
  text-align: center;
  animation: fadeinright 600ms;
}

.stats-inner {
  padding: 0 5%;
}

.quote-display {
  font-size: 1.2rem;
  font-family: iosevka;
  padding: 2rem;
}

.quote-input {
  left: -1000px;
  background-color: transparent;
  width: 1%;
  border: none;
  margin: 0;
  padding: 0;
  resize: none;
  /* border: 2px solid #a1922e;
  outline: none;
  height: 9rem;
  width: 100%;
  margin: auto;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  color: white; */
}

textarea:focus + div {
  box-shadow: 0 0 10px 1px black inset;
}

.correct {
  color: lightgreen;
}

.wrong {
  color: lightcoral;
  text-decoration: underline;
}

.highlight {
  background-color: darkgoldenrod;
  /* box-shadow: 0 0 1px 1px slateblue; */
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.emoji-error {
  position: absolute;
  top: 20%;
  right: 2.8%;
  z-index: -1;
  font-size: 1.2rem;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
